.containerHome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-gap: 80px;
  margin-top: 60px;
  position: relative;
  max-width: 1200px;
  padding-bottom: 40px;
}

.divBtnBackHome {
  display: flex;
  margin-left: -1370px;
  margin-top: 40px;
}

.backButtonHome {
  font-size: 1.2rem;
  padding: 0.8rem 2rem;
  border-radius: 0.5rem;
  background-color: #feda4a;
  color: #000000;
  border: 2px solid #000000;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.backButtonHome:hover {
  background-color: #000000;
  color: #feda4a;
}

.divContainerPagination {
  margin-top: 10px;
  margin-bottom: 40px;
  max-width: 1200px;
  width: 100%;
  overflow-x: auto;
  display: flex;
  justify-content: center;
}

@media (max-width: 1200px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    max-width: 800px;
    justify-content: center;
    margin-top: 40px;
    grid-gap: 40px;
    overflow: auto;
  }
}

@media screen and (max-width: 768px) {
  .cards {
    overflow: auto;
    max-height: 500px;
  }
  ::-webkit-scrollbar {
    width: 8.7px;
  }

  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
  }

  ::-webkit-scrollbar-thumb {
    background-color: #feda4a;
    border-radius: 10px;
  }

  .divBtnBackHome {
    margin-left: -250px;
    margin-top: 20px;
  }

  .backButtonHome {
    font-size: 1rem;
    padding: 0.6rem 1.5rem;
    margin-left: 10px;
  }

  .divContainerPagination {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .pagination button {
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
    margin: 0 5px;
  }
}

@media screen and (max-width: 480px) {
  .cards {
    grid-template-columns: repeat(1, 100%);
    padding-bottom: 0;
    margin-bottom: 0;
    grid-gap: 20px;
    margin-top: 30px;
  }

  .divContainerPagination {
    max-width: 100%;
    padding: 0 20px;
    margin-top: 50px;
  }

  .backButtonHome {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
  }
}
